:root{
  --Deep-green: #164B2E;
  --Light-green: #2D995F; 
  --Gray:#f2f3f3;
  --White: #ffffff;
  --Black: #343A40;
  /* --Background:rgba(172, 231, 199, 0.05); */
}

.background {
    width: 100%;
    background-position:center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 95vh; /* 95% of the viewport height */
    margin-top: 20px;
    overflow: hidden;
    display: flex;
    background-color: #ffffff;
    /* justify-content: right;
    align-items: center;*/
    /* padding-right: 1rem;  */
    padding-left: 3rem; 
  }

  
  .mainContainerx {
    /* background-color: pink; */
    width: 48%;
    /* max-width: 571px; */
    /* height: 523px; */
    /* padding: 20px 0; */
    /* border-radius: 20px; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 4rem;
    color: black!important;
  }

.eduImg{
  width: 202px;
  margin-top: 40px;
  margin-left: 36%;
}
.welcomeTo{
  color: #ffffff;
  font-weight: 700;
  font-size: 28px;
  margin-top: 30px;
}
.listOf{
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 36px;
}
  .mainContainerx2 {
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: black;
    width: 100%;
    /* max-width: 571px; */
    /* height: 523px; */
    /* padding: 20px 0; */
    /* border-radius: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    border-radius: 8px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  
  }
  .thecntnt{
    display: flex;
    flex-direction: column;
    /* color: var(--White); */
    gap: 5px;
    height: 500px;
  }
  .thecntnt form{
    display: flex;
    flex-direction: column;
    /* color: var(--White); */
    gap: 5px;
    width: 100%;
    overflow-y  : auto;
  }
  .thecntnt .formGroup{
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .thecntnt form::-webkit-scrollbar{
    width: 8px;
  }
  .thecntnt form::-webkit-scrollbar-thumb{
    background: rgb(223, 222, 222);
    border-radius: 4px;
  }
  .thecntnt form::-webkit-scrollbar-thumb:hover{
    /* background: var(--Light-green); */
    background: var(--Black);
    border-radius: 4px;
  }
  .head{
    /* text-align: center; */
  }
  .thecntnt p{
    /* color: var(--White); */
  }

  .SignUptxt {
    font-family: 'inter';
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
    color: #343A40  !important;
  }

  .SignUptxtsub {
    font-family: 'inter';
    font-weight: 400;
    font-size: 20px;
    display: flex;
    /* justify-content: center; */
    /* text-align: center; */
    padding-bottom: 15px;
    color: #343A40!important;
    width: 500px;
  }

  .snupbtn {
    /* background-color: #2D995F; */
    background-color: #000000!important;
    color: white;
    width: 100%;
    margin-top: 32px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'inter';
    padding: 12px 100px;
    /* margin-right: 10px; */
  }

  .lgin {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #6C757D!important;
  }

  .lgin span {
    color: #2D995F;
  }

  .formClasses input{
    padding-top: 13px;
    padding-left: 20px;
    padding-bottom: 13px;
  }