body {
    background-color: #E9ECEF !important;

}
*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* colors */
:root{
    --Deep-green: #164B2E;
    --Light-green: #2D995F; 
    --Gray:#f2f3f3;
    --White: #ffffff;
    --Black: #343A40;
    --P-Black:#6C757D;
    --Background:rgba(172, 231, 199, 0.05);
}
p{
    color: var(--P-Black);
}
.formSection{
    width: 100%;
    padding-left: 23%;
    padding-right: 3rem;
}
.formSectionHeaderContainer{
    padding-top: 1rem;
}
.formSectionHeader{
  width: 100%;
  padding: 31px 25px;
  margin-top: 15px ;
  /* padding-top: 40px; */
  /* margin-bottom: 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--White);
}
.formSection p{
    font-size: 12px;
}
.formSectionHeader h3{
    color: var(--Black);
    font-size: 20px;
    font-weight: 700;
}
.formSectionHeader .users{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
}
.formSectionHeader .users i{
    font-size: 24px;
    color: var(--Black);
    font-weight: lighter;
}

.chartCont{
    margin-top: 28px;
    padding: 28px;
    background-color: var(--White);
}

.profiledtls {
    display: flex;
}

.dimg {
    width: 333px;
    height: 253px;
}

.nme {
    font-size: 12px;
    font-weight: 400;
    font-family: 'inter';
    color: #6C757D;
    margin-bottom: 2px;
}

.nmedtls {
    font-weight: 400;
    font-size: 14px;
    font-family: 'inter';
    color: black;
    margin-bottom: 20px;
}

.eml {
    font-size: 12px;
    font-weight: 400;
    font-family: 'inter';
    color: #6C757D;
    margin-bottom: 2px;
}

.emldtls {
    font-weight: 400;
    font-size: 14px;
    font-family: 'inter';
    color: black;
    margin-bottom: 20px;
}
.adrs {
    font-size: 12px;
    font-weight: 400;
    font-family: 'inter';
    color: #6C757D;
    margin-bottom: 2px;
}

.adrsdtls {
    font-weight: 400;
    font-size: 14px;
    font-family: 'inter';
    color: black;
    margin-bottom: 20px;
}
.fne {
    font-size: 12px;
    font-weight: 400;
    font-family: 'inter';
    color: #6C757D;
    margin-bottom: 2px;
}

.fnenumbr {
    font-weight: 400;
    font-size: 14px;
    font-family: 'inter';
    color: black;
    margin-bottom: 20px;
}

.chldrnno {
    font-size: 12px;
    font-weight: 400;
    font-family: 'inter';
    color: #6C757D;
    margin-bottom: 2px;
}

.amntchldrn {
    font-weight: 400;
    font-size: 14px;
    font-family: 'inter';
    color: black;
    /* margin-bottom: 60px; */
}

.profiledtls {
    display: flex;
    justify-content: space-between;
    border: 1px solid #6C757D;
    margin-bottom: 40px;
    padding: 18px 23px;
    border-radius: 4px;
}